<script type="text/javascript">
$(function(){
  $('a.cc').click(function(){
    try{
      var req = this.href;
      var cb = $(this).attr('cb');
      $.get(req, function(data){
        // new div hero class
          var sent_p = document.createElement('p');
          sent_p.setAttribute('class','command_sent');
          sent_p.appendChild(document.createTextNode(data.command_sent));

          var rec_p = document.createElement('pre');
          rec_p.setAttribute('class','console_response');
          rec_p.appendChild(document.createTextNode(data.console_response));

          var div = document.createElement('div');
          div.setAttribute('class', 'hero-unit tofadein');

          div.appendChild(sent_p);
          div.appendChild(rec_p);
          // div.prepend(rec_p);
          // div.prepend(sent_p);
          
          // div.insertBefore(rec_p,div.firstChild);
          // div.insertBefore(sent_p, div.firstChild);


          $('#jconsole').prepend(div);
          $(div).slideDown('slow').fadeIn('slow');

          // scroll_to_bottom('jconsole');

          if(data.formated_response){
            window[cb](data.formated_response);
          }
      });
    } catch(e){
      console.log(e)
    }

  return false;
  });
});

function scroll_to_bottom(div_id){
  var objDiv = document.getElementById(div_id);
  objDiv.scrollTop = objDiv.scrollHeight;
}

function select_ruby(formated_response){
        $('#log').html('')
      $.each(formated_response,function(i,e){
        $('#log').prepend("<label>"+e.ruby+"</label><input type='radio' name='which_ruby' value='"+e.ruby+"'/><br/>")  
      });
}
</script>

<div class="row-fluid">
  <div class="span6">
    <div class="row">
      <h2>List Rubies</h2>
      <p>rvm list</p>
      <p><a class="btn btn-primary cc" 
            href="/hashops/rvm/list" 
            cb="select_ruby">Run &raquo;</a></p>
    </div><!--/row-->
    <div class="row list-rubies">
      <p id="log"></p>
    </div><!--/row-->
  
  </div><!--/span-->

  <div class="span6">
    <div class="row">
      <form action="/hashops/any_command/" method="post">
        <fieldset>
          <input type="text" name="command"><input type="submit" class="button">
        </fieldset>
      </form>
    </div>
    <div class="row">
      <div id="jconsole">
        <div class="hero-unit">
          <p class='command_sent'>You Ran:</p>
          <p class='received_back'>Received Back:</p>
        </div>
      </div>
    </div>
  </div><!--/span6-->
</div><!--/row-->

<hr>
<style type="text/css">
fieldset{margin:10px 0;}
label{display:inline-block; margin:0 10px;}
.hero-unit{padding:10px;margin:5px;}
#jconsole {
    max-height:800px;
    overflow-y:auto;
}
.tofadein{
  display:none;
}
</style>